h1, h2, h3, p {
	line-height: 2;
	font-family: 'Permanent Marker', cursive;
}

h1 {
	font-size: xx-large;
}
h2 {
	font-size: x-large;
	color: yellow;
}
h3 {
	font-size: large;
}

p {
	font-size: normal;
}

.centered-wrapper {
	margin:30px auto 30px auto;
	width: 50%;
}

.header {
	background-color: green;
	text-align: center;
	position: relative;
}

#title {
	color: white;
	font-family: 'Monoton', cursive;
	font-size: 100px;
}

#subtitle {
	font-family: 'Yesteryear', cursive;
	font-size: 40px;
	position: absolute;
	right: 5%;
	bottom: 20px;
}

.rotate {
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.main-content {
	background-color: yellowgreen;
	color: white;
	overflow: auto;
}

.column-left {
	float: left;
	width: 40%;
	padding: 5%;
}

#picture {
	width: 100%;
}

.column-right {
	float: right;
	width: 45%;
	padding: 5% 5% 5% 0px;
}

